.banner__container {
    position: relative;
    background: url("../../assets/banner.jpg");
    width:100%;
    height:85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}
.banner__container::-webkit-scrollbar {
    display: none;
}
.banner__container .banner__overlay {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:85vh;
    width:100vw;
    background-color: rgba(0,0,0,0.3);
    z-index:100;
}
.banner__container .banner__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 60px;
    z-index: 300;
    padding-top: 100px;
}
.banner__container .banner__contents .banner__titles {
    background: url('../../assets/banner_image_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    color:white;
    z-index: 999;
}
@keyframes spin {
    0%{transform: rotate(1deg);}
    100%{transform: rotate(360deg);}
}
.banner__container
.banner__contents
.banner__titles .banner__big_text {
    font-size: 50px;
    text-transform: uppercase;
    width:600px;
    font-family:inherit;
    font-weight: bold;
}
.banner__container
.banner__contents
.banner__titles .banner__big_text span {
    color:rgb(55, 224, 40);
}
.banner__container
.banner__contents
.banner__titles
.banner__small_text {
    font-size: 30px;
    color:orange;
}
.banner__container
.banner__contents
.banner__titles .banner__description {
    font-size: 17px;
}
.banner__container
.banner__contents
.banner__titles .banner__btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.banner__btn .banner__order button {
    border-radius:20px;
    padding:10px 20px;
    border:none;
    text-transform: uppercase;
    background: green;
    color:white;
    font-weight: bold;
    cursor:pointer;
    margin-right: 20px;
}
.banner__btn .banner__amount span {
    margin-right:7px;
}
.banner__btn .banner__amount span:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}
.banner__btn .banner__amount span:nth-child(2) {
    color:orange;
    text-decoration:line-through;
    font-weight: bold;
}
.banner__container .banner__image img {
    width:26rem;
    animation: spin 1s linear infinite;

}
@media screen and (max-width:992px) {
    .banner__container .banner__image img {
        width:18rem;
    }
    .banner__container .banner__contents {
        margin-left: 40px;
        margin-right: 30px;
    }

}
@media screen and (max-width:930px) {
     .banner__container .banner__image img {
        width:22rem;
    }
    .banner__container .banner__contents {
        justify-content: center;
    }
    .banner__container .banner__titles {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
.banner__container
.banner__contents
.banner__titles .banner__big_text {
    width:500px;
    font-size: 45px;
}
.banner__container
.banner__contents
.banner__titles
.banner__small_text {
    font-size: 25px;
}
}

@media screen and (max-width:600px) {
    .banner__container
.banner__contents
.banner__titles .banner__big_text {
    width:600px;
    font-size: 35px;
}
    .banner__container
.banner__contents
.banner__titles{
    text-align: center;
}
.banner__container
.banner__contents
.banner__titles .banner__btn {
    justify-content: center;
}
.banner__container
.banner__contents
.banner__titles
.banner__small_text {
    font-size:22px;
}
.banner__container
.banner__contents
.banner__titles .banner__description {
    font-size: 15px;
}

}
@media screen and (max-width:500px) {
    .banner__container .banner__image img {
        width:16rem;
    }
       .banner__container
       .banner__contents
       .banner__titles .banner__big_text {
        width:400px;
        font-size: 35px;
        padding-bottom: 10px;
    }
    .banner__container
    .banner__contents
    .banner__titles .banner__description {
        padding-top: 20px;
        padding-left: 25%;
        padding-right: 25%;
    }
    .banner__btn .banner__amount span:nth-child(1) {
        font-size: 25px;
    }
    .banner__btn .banner__amount span:nth-child(2) {
        font-size: 15px;
    }
}
@media screen and (max-width:390px){
    .banner__container {
        overflow-x: hidden;
    }
}
@media screen and (max-width:340px){
        .banner__container
       .banner__contents
       .banner__titles .banner__big_text {
        width:350px;
        font-size: 30px;
    }
    .banner__container
    .banner__contents
    .banner__titles .banner__small_text {
        font-size: 18px;
    }
    .banner__container
    .banner__contents
    .banner__titles .banner__description {
        font-size: 12px;
    }
    .banner__btn .banner__amount span:nth-child(1) {
        font-size: 20px;
    }
    .banner__btn .banner__amount span:nth-child(2) {
        font-size: 13px;
    }
    .banner__btn .banner__order button {
    padding:8px 10px;
    font-weight: normal;
}
}