.products__container {
    margin-top: 60px;
    width:100%;
    overflow-y: hidden;
}
.products__container .product__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.products__container .product__text h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.product__text .product__list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__text .product__list button {
    list-style-type: none;
    margin-right:15px;
    background: white;
    border:1px solid gray;
    width:6rem;
    height:28px;
    border-radius:20px;
    cursor:pointer;

}
.product__text .product__list button:hover {
    background: rgb(18, 17, 17);
    color:white;
    transition: all 0.3s ease;
}
.products__items__cont__wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left:15px;
    margin-top: 30px;
}
.product__items__container {
    background:white;
    border:1px solid gray;
    width:15rem;
    height:fit-content;
    margin-bottom: 15px;
    border-radius: 10px;
}
.product__items__container:hover {
    transform:scale(1.1);
    transition:transform .3s ease-in-out;
    background:#dccb35;
}
.product__items__container .product__items__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.product__items__container .product__items__bg img {
    width:7rem;
    z-index:100;
    margin-top: 15px;
}
.product__items__container .products__ratings {
    margin-top:30px;
    margin-left: 10px;
}

.product__items__container .products__ratings .rating {
    color:#b5b515;
}
.product__items__container .products__list__text {
    margin-left: 10px;
    line-height: 20px;
}
.product__items__container .products__list__text h3 {
    font-size: 17px;
}
.product__items__container .products__list__text p {
    font-size: 13px;
    padding-top: 3px;
    color:grey;
}
.product__items__container .products__list__text span {
    color:green;
}
.product__items__container .products__list__text span:nth-child(3) {
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 12px;
}
.product__items__container .products__list__text span:nth-child(4) {
    font-weight: bold;
    font-size: 17px;
}
            /* RESPONSIVENESS */
@media screen and (max-width:1235px){
    .products__items__cont__wrapper{
        margin-left:0;
    }
}
@media screen and (max-width:1225px){
    .product__items__container {
        width:14rem;
        margin-left: 5px;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
}
@media screen and (max-width:1170px){
    .products__items__cont__wrapper {
        grid-template-columns: repeat(4,1fr);
        margin-left:5px;
    }
    .product__items__container {
        width:17rem;
    }
    .product__items__container .product__items__bg img {
        width:8rem;
    }
    .product__items__container .products__ratings{
        margin-top:45px;
    }
}
@media screen and (max-width:1230px){
    .product__items__container {
        width:16rem;
    }
    .product__items__container .product__items__bg img {
        width:7rem;
    }
}

@media screen and (max-width:1060px){
    .product__items__container {
        width:15rem;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
}

@media screen and (max-width:1000px){
    .product__items__container {
        width:14.5rem;
    }
    .product__items__container .product__items__bg img {
        width:5.5rem;
    }
}
@media screen and (max-width:967px){
    .product__items__container {
        width:14rem;
    }
    .product__items__container .product__items__bg img {
        width:5rem;
    }
}
@media screen and (max-width:935px){
    .product__items__container {
        width:13rem;
    }
    .product__items__container .product__items__bg img {
        width:5rem;
    }
}
@media screen and (max-width:870px){
    .products__items__cont__wrapper {
        grid-template-columns: repeat(3,1fr);
    }
    .product__items__container {
        width:16rem;
    }
    .product__items__container .product__items__bg img {
        width:8rem;
    }
}
@media screen and (max-width:800px){
    .product__text .product__list button {
        margin-bottom:8px;
    }
     .product__items__container {
        width:15rem;
    }
    .product__items__container .product__items__bg img {
        width:7rem;
    }
    .product__items__container .products__ratings{
        margin-top:30px;
    }
}
@media screen and (max-width:785px){
    .product__text .product__list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width:760px){
    .product__items__container {
        width:14rem;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
}
@media screen and (max-width:700px){
    .product__items__container {
        width:13rem;
        margin-left:0;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
}
@media screen and (max-width:650px){
    .products__items__cont__wrapper {
        grid-template-columns: repeat(2,1fr);
        margin-left:20px;
    }
    .product__items__container {
        width:17rem;
        margin-left:0;
    }
    .product__items__container .product__items__bg img {
        width:7rem;
    }
}
@media screen and (max-width:580px){
    .product__items__container {
        width:16rem;
        margin-left:0;
    }
    .product__items__container .product__items__bg img {
        width:6.5rem;
    }
}
@media screen and (max-width:550px){
    .product__items__container {
        width:15rem;
        margin-left:0;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
}
@media screen and (max-width:510px){
    .product__items__container {
        width:14rem;
        margin-left:0;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
}
@media screen and (max-width:475px){
    .products__items__cont__wrapper {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        margin-left:15px;
    }
    .product__items__container {
        width:18rem;
        margin-left:0;
    }
    .product__items__container .product__items__bg img {
        width:6rem;
    }
    .product__items__container .products__ratings{
        margin-top:20px;
    }
}
@media screen and (max-width:440px){
    .product__text .product__list {
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:375px){
    .products__container .product__text h3 {
        font-size:27px;
    }
    .products__items__cont__wrapper {
        margin-left:0;
    }
    .product__items__container .products__list__text h3 {
        font-size:15px;
    }
}
@media screen and (max-width:335px){
    .product__text .product__list button {
        width:5rem;
        height:25px;
    }
}