.meal__review__container {
    margin-top: 30px;
    background:url('../../assets/slider_image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:hidden;
}
.meal__review__container .meal__review__item {
    background:rgba(0,0,0,0.7);
    height:25vh;
    width:20vw;
    margin-right: 40px;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0.90;
}

@keyframes moveText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30px);
    }
  }
.meal__review__container .meal__review__item:hover {
    transform:scale(1.1);
    transition:transform .3s ease-out;
}
.meal__review__container .meal__review__item:hover {
    animation: moveText 0.8s infinite alternate;
}
.meal__review__container .meal__review__item p {
    font-size: 45px;
    font-weight: bold;
    color:green;
}
.meal__review__container .meal__review__item span {
    font-size: 25px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}
@media screen and (max-width:800px){
    .meal__review__container .meal__review__item {
        width:25vw;
    }
}
@media screen and (max-width:600px){
    .meal__review__container .meal__review__item {
        margin-right: 20px;
    }
    .meal__review__container .meal__review__item p {
        font-size: 35px;
    }
    .meal__review__container .meal__review__item span {
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    .meal__review__container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .meal__review__container .meal__review__item {
        width:45vw;
        margin-left: 20px;
    }
    .meal__review__container .meal__review__item p {
        font-size: 35px;
    }
    .meal__review__container .meal__review__item span {
        font-size: 20px;
    }
}
@media screen and (max-width:475px){
    .meal__review__container .meal__review__item {
        height:20vh;
        width:40vw;
        margin-left: 20px;
    }
    .meal__review__container .meal__review__item p {
        font-size: 30px;
    }
    .meal__review__container .meal__review__item span {
        font-size: 18px;
    }
}
@media screen and (max-width:375px){
    .meal__review__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height:40vh;
    }
    .meal__review__container .meal__review__item  {
        margin-left: 10px;
        height:30vh;
        width:80vw;
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        padding-left: 20px;
    }

    .meal__review__container .meal__review__item p {
        font-size:27px;
    }
    .meal__review__container .meal__review__item span {
        font-size: 15px;
    }
}
