.navbar__logo {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.navbar__logo span {
    font-size: 30px;
    text-transform:lowercase;
    color:rgb(93, 209, 93);
}
.password__reset__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.password__reset__container img {
    width:500px;
    height:500px;
}
.password__reset__form {
    background: #f5f5f5;
    /* background: green; */
    height: fit-content;
    width:600px;
    border-radius: 10px;
    box-shadow: 0px 2px 12px 9px #f5f5f5;
-webkit-box-shadow: 0px 2px 12px 9px #f5f5f5;
-moz-box-shadow: 0px 2px 5px 9px #f5f5f5;
}
.passkey__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:20px;
}
.passkey__icon .pass__icon  {
    width:80px;
    height:80px;
    color:green;
}
.form__container {
    position: relative;
}
.password__reset__info h5 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom:30px;
    font-weight: 600;
}
.login__user__option button {
    display: flex;
    align-items: center;
    place-content: center;
    width:90%;
    height: 40px;
    background: white;
    border:none;
    margin-bottom: 10px;
    cursor: pointer;
}
.forgot__password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
}
.forgot__password .forgot__password__link {
    text-decoration: none;
    font-size: 20px;
}
.forgot__password .forgot__password__link:hover {
    color:blue;
}

@media screen and (max-width:950px) {
.password__reset__container img {
    width:400px;
    height:400px;
}
.password__reset__form {
    width:500px;
}
}

@media screen and (max-width:800px) {
.password__reset__container img {
    width:350px;
    height:350px;
}
.password__reset__form {
    width:400px;
}
}

@media screen and (max-width:768px){
    .password__reset__container {
        flex-direction:column;
        overflow:hidden;
    }
    .password__reset__container img {
        display:none;
    }
}
@media screen and (max-width:375px) {
    .form__container .form_input {
        width:85%;
    }
    .form__container button {
        margin-left:20px;
    }
    .passkey__icon .pass__icon {
        width:40px;
        height:40px;
    }
    .password__reset__info h5 {
        font-size: 18px;
    }

}
@media screen and (max-width:345px){
    .form__container .form__input__cont {
        margin-left:40px;
    }
    .forgot__password  {
        padding-left:15px;
        padding-right:15px;
    }
}
@media screen and (max-width:335px) {
    .form__container .form_input {
        width:83%;
    }
}
@media screen and (max-width:320px){
    .form__container .form__input__cont {
        margin-left:45px;
    }
}
@media screen and (max-width:315px){
    .form__container .form__input__cont {
        margin-left:50px;
    }
      .forgot__password  {
        padding-left:20px;
        padding-right:20px;
    }
}